.tabs {
    overflow: hidden;
}

.tabs li {
    list-style: none;
    padding: 0 2px;
    width: 179px;
    height: 45px;
    display: block;
    float: left;
    border-left: 2px groove #8ebdf3;
    background: #8ebdf3 url(img/backgrounds/tab.png) repeat-x;
}

.tabs li:first-child {
    margin-left: 0;
    border: none;
}

.tabs .active {
    background: transparent url(img/backgrounds/active_tab.png) repeat-y right; /* Background image should be same width (including padding) as .tabs li */
    position: relative;
    z-index: 10;
    border: none;
}

.tabs li.active:last-child {
    background-image: none;
    background-color: #8ebdf3;
}

.tabs .active + li {
    margin-left: -2px;
    border: none;
}

.tabs li + .active {
    /*border-left: 1px solid #82adde;*/
    border-left: 2px groove #9ac3f5;
}

.tabs a {
    display: block;
    height: 100%;
}