/**
 * Styles for links that fill their entire containing element
 *
 * @author James Nicholls <jamesnicholls11@gmail.com>
 */
.block-link
{
	position: relative;
}

.block-link a
{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-decoration: none;
	text-indent: -9999em;
	outline: 0;
	*height: 150px; /* For IE 6 & 7, which don't support setting three or more co-ordinates for absolutely positioned elements. The height and width values should be set to the height and width of the containing element */
	*width: 300px;
}