.table-fixed-headers {
    position: relative;
    padding-top: 1em; /* This can be changed to give the .th-inners more height */
}

.table-fixed-headers .th-inner {
    position: absolute;
    top: 0;
}

.table-fixed-headers .table-fixed-headers-inner {
    height: 100%;
    overflow: auto;
}