/* Terence Ordona, portal[AT]imaputz[DOT]com */
/* http://creativecommons.org/licenses/by-sa/2.0/ */


37/* define height and width of scrollable area. Add 16px to width for scrollbar */
38div.tableContainer {
39 clear: both;
40 border: 1px solid #963;
41 height: 285px;
42 overflow: auto;
43 width: 756px
44}
45
46/* Reset overflow value to hidden for all non-IE browsers. */
47html>body div.tableContainer {
48 overflow: hidden;
49 width: 756px
50}
51
52/* define width of table. IE browsers only */
53div.tableContainer table {
54 float: left;
55 width: 740px
56}
57
58/* define width of table. Add 16px to width for scrollbar. */
59/* All other non-IE browsers. */
60html>body div.tableContainer table {
61 width: 756px
62}
63
64/* set table header to a fixed position. WinIE 6.x only */
65/* In WinIE 6.x, any element with a position property set to relative and is a child of */
66/* an element that has an overflow property set, the relative value translates into fixed. */
67/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
68thead.fixedHeader tr {
69 position: relative
70}
71
72/* set THEAD element to have block level attributes. All other non-IE browsers */
73/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
74html>body thead.fixedHeader tr {
75 display: block
76}
77
78/* make the TH elements pretty */
79thead.fixedHeader th {
80 background: #C96;
81 border-left: 1px solid #EB8;
82 border-right: 1px solid #B74;
83 border-top: 1px solid #EB8;
84 font-weight: normal;
85 padding: 4px 3px;
86 text-align: left
87}
88
89/* make the A elements pretty. makes for nice clickable headers */
90thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
91 color: #FFF;
92 display: block;
93 text-decoration: none;
94 width: 100%
95}
96
97/* make the A elements pretty. makes for nice clickable headers */
98/* WARNING: swapping the background on hover may cause problems in WinIE 6.x */
99thead.fixedHeader a:hover {
100 color: #FFF;
101 display: block;
102 text-decoration: underline;
103 width: 100%
104}
105
106/* define the table content to be scrollable */
107/* set TBODY element to have block level attributes. All other non-IE browsers */
108/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
109/* induced side effect is that child TDs no longer accept width: auto */
110html>body tbody.scrollContent {
111 display: block;
112 height: 262px;
113 overflow: auto;
114 width: 100%
115}
116
117/* make TD elements pretty. Provide alternating classes for striping the table */
118/* http://www.alistapart.com/articles/zebratables/ */
119tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
120 background: #FFF;
121 border-bottom: none;
122 border-left: none;
123 border-right: 1px solid #CCC;
124 border-top: 1px solid #DDD;
125 padding: 2px 3px 3px 4px
126}
127
128tbody.scrollContent tr.alternateRow td {
129 background: #EEE;
130 border-bottom: none;
131 border-left: none;
132 border-right: 1px solid #CCC;
133 border-top: 1px solid #DDD;
134 padding: 2px 3px 3px 4px
135}
136
137/* define width of TH elements: 1st, 2nd, and 3rd respectively. */
138/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
139/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */
140html>body thead.fixedHeader th {
141 width: 200px
142}
143
144html>body thead.fixedHeader th + th {
145 width: 240px
146}
147
148html>body thead.fixedHeader th + th + th {
149 width: 316px
150}
151
152/* define width of TD elements: 1st, 2nd, and 3rd respectively. */
153/* All other non-IE browsers. */
154/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */
155html>body tbody.scrollContent td {
156 width: 200px
157}
158
159html>body tbody.scrollContent td + td {
160 width: 240px
161}
162
163html>body tbody.scrollContent td + td + td {
164 width: 300px
165}
166-->
</style>
</head>
<body>
<h1>Pure CSS Scrollable Table with Fixed Header</h1>
<h2>Using CSS to allow scrolling within a single HTML table</h2>
<div>
</div>
<h2>The Big 4 Version</h2>
<h3>Basic CSS Browser Filtering</h3>
<div id="tableContainer" class="tableContainer">
<table class="scrollTable" width="100%" cellspacing="0" cellpadding="0" border="0">
<thead class="fixedHeader">
<tr class="alternateRow">
<th>
</th>
<th>
<a href="#">Header 2</a>
</th>
<th>
</th>
</tr>
</thead>
<tbody class="scrollContent">
</tbody>
</table>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
</body>
</html>
body {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#FFFFFF none repeat scroll 0 0;
color:#000000;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:10px;
padding:0;
}
table, td, a {
-x-system-font:none;
color:#000000;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
h1 {
-x-system-font:none;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size:18px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0 0 5px;
}
h2 {
-x-system-font:none;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size:16px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0 0 5px;
}
h3 {
-x-system-font:none;
color:#008000;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0 0 15px;
}
div.tableContainer {
border:1px solid #996633;
clear:both;
height:285px;
overflow:auto;
width:756px;
}
html > body div.tableContainer {
overflow:hidden;
width:756px;
}
div.tableContainer table {
float:left;
width:740px;
}
html > body div.tableContainer table {
width:756px;
}
thead.fixedHeader tr {
position:relative;
}
html > body thead.fixedHeader tr {
display:block;
}
thead.fixedHeader th {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#CC9966 none repeat scroll 0 0;
border-left:1px solid #EEBB88;
border-right:1px solid #BB7744;
border-top:1px solid #EEBB88;
font-weight:normal;
padding:4px 3px;
text-align:left;
}
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
color:#FFFFFF;
display:block;
text-decoration:none;
width:100%;
}
thead.fixedHeader a:hover {
color:#FFFFFF;
display:block;
text-decoration:underline;
width:100%;
}
html > body tbody.scrollContent {
display:block;
height:262px;
overflow:auto;
width:100%;
}
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-color:#DDDDDD #CCCCCC -moz-use-text-color -moz-use-text-color;
border-style:solid solid none none;
border-width:1px 1px medium medium;
padding:2px 3px 3px 4px;
}
tbody.scrollContent tr.alternateRow td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
border-color:#DDDDDD #CCCCCC -moz-use-text-color -moz-use-text-color;
border-style:solid solid none none;
border-width:1px 1px medium medium;
padding:2px 3px 3px 4px;
}
html > body thead.fixedHeader th {
width:200px;
}
html > body thead.fixedHeader th + th {
width:240px;
}
html > body thead.fixedHeader th + th + th {
width:316px;
}
html > body tbody.scrollContent td {
width:200px;
}
html > body tbody.scrollContent td + td {
width:240px;
}
html > body tbody.scrollContent td + td + td {
width:300px;
}
