/*
Forms CSS
Description: A framework for the basic layout of form elements. It is based on the three variations of form layout propsed by Luke Wroblewski here: http://www.uie.com/articles/web_forms/. This version differs from version 1 in that it assumes list-items are used to wrap label-input/select/textarea pairs.
Version: 2.0
Author: James Nicholls
Author URI:
*/

/* =baseline */
form {
    width: 100%;
}

fieldset {
    clear: both;
}

legend {
    font-weight: bold;
}

form li {
    _height: 1%; /* For IE 6 */
    margin-bottom: 1em;
}

form li:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

label, select, input, textarea {
    display: block;
}

select,
input,
textarea
{
    float: left; /* For image validation */
}

input[size] {
    width: auto;
}

input.additional {
    clear: left; /* TODO Check if validation images float correctly */
    margin-top: 0.5em;
}

label {
    font-weight: bold;
    clear: left;
}

label:after {
    content: ":";
}

form .default {
    color: #999;
    background-color: #fff;
    font-style: oblique;
}

form .hint {
    font-size: .8em;
    position: relative;
    clear: left; /* TODO Check if validation images float correctly */
    margin-top: 0.6em;
}

button {
    float: left;
}

button#primary_action {
    font-weight: bold;
}

button+button {
    margin-left: 2%;
    color: #666;
}

button+a {
    display: block;
    float: left;
    margin-left: 2%;
}

/* =option set component */
.option-set {
    position: relative;
    *height: 1%; /* For IE 6 & 7 */
}

.options-set:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: none;
}

.option-set p {
    margin-left: 0;
    font-weight: bold;
}

.option-set p:after {
    content: ":";
}

li.option-set label {
    float: right;
    width: 95%;
    text-align: left;
    font-weight: normal;
}

.option-set label:after {
    content: "";
}

.option-set input {
    float: left; /* Switch to float: right */
    margin-bottom: .5em;
    margin-top: 0;
}

/* =error component */
form li.error input, 
form li.error textarea 
{
    border: 1px solid #EF1D2A;
    background-color: #fef;
    color: inherit;
}

form li.error p, 
form li.error label 
{
    color: #EF1D2A;
    background-color: transparent;
}

/* =message component */
.message {
    color: #000;
    border: 1px solid #e6db55;
    padding: 1em;
    
}

.message p {
    margin-left: 0;
}

.message.error {
    background: url(../img/icons/cross.png) no-repeat 10px 50% #fffbcc;
    padding-left: 36px;
}

.message.error a {
    color: #EF1D2A;
}

.message.success {
    background: url(../img/icons/tick.png) no-repeat 10px 50% #fffbcc;
    padding-left: 36px;
}

/* =live validation component */ /* TODO Possibly move to a separate style sheet */
form img.validation {
    float: left;
    display: block;
    margin-left: 2px;
    border: none;
}

.option-set img.validation {
    position: absolute;
    top: 0;
    left: 65%; /* This value is dependant on the line-length of the option_set's labels */
}

/* =horizontal form component */
.horizontal label,
.horizontal select,
.horizontal input,
.horizontal textarea
{
    float: none;
    display: inline-block;
    vertical-align: baseline;
}

.horizontal label {
    width: 50%;
    text-align: right;
    padding-right: 1%;
    font-weight: normal;
    clear: none;
}

.horizontal label:after {
    content: none;
}

.horizontal.left-aligned label {
    text-align: left;
}

.horizontal .additional {
    margin-left: 52%;
}

form.horizontal p {
    clear: left;
    margin-left: 52%;
}

.horizontal #primary_action {
    margin-left: 52%;
}

.horizontal .option-set p {
    width: 50%;
    margin-left: 0;
    text-align: right;
    font-weight: normal;
    float: left;
}

.horizontal .option-set p:after {
    content: '';
}

.horizontal.left-aligned .option-set p {
    text-align: left;
}

.horizontal .option-set label {
    text-align: left;
    float: right;
    width: 44%;
}

.horizontal .option-set input {
    vertical-align: top;
    margin-left: 51%;
    display: block;
}