select,
input,
textarea
{
    float: left; /* For image validation */
}

/* =live validation component */ /* TODO Possibly move to a separate style sheet */
form img.validation
{
    float: left;
    display: block;
    margin-left: 2px;
    border: none;
}

.option-set img.validation
{
    position: absolute;
    top: 0;
    left: 65%; /* This value is dependant on the line-length of the option_set's labels */
} 