/*
Title: Gallery CSS
Description: Display images of varying heights into neat rows. Despite the name, the CSS can be used to layout any element into rows. I use the term row layout as opposed to a column layout, which tend to be used for long, linear pieces of content, with related content or navigation beside. Rows, on the other hand, layout elements of equal priority side by side. Rows could be used for laying out a long piece of content into shorter columns (ala the multi-column CSS 3 module) but you should take care not to have columns taller than window height, as the scrolling would interrupt reading flow. Rows are beneficial as they maximise the dimensions of the browser window, which is usually wider than it is tall.
Version: 1.0
Author: James Nicholls
Author URI:
*/

.gallery .figure {
    width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: -moz-inline-stack; /* For FF 2 */
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    zoom: 1; /* For IE 6 & 7 */
    *display: inline; /* For IE 6 & 7 */
    _height: 250px; /* For IE 6 */
}