.overlay 
{
    position: relative;
}

.overlay .content
{
    width: 100%;
    height: 100%;
    background-color: #000; /* This is purely aesthetic */
}

.overlay .pointer
{
    display: block;
    font-size: 0;
    height: 1px;
    width: 1px;
    position: absolute;
	border-color: #000; /* This should be the same colour as .content */
	border-width: 15px; /* Length of the pointer is equal to the border-width */
	border-style: solid;
}

.overlay .pointer.bottom,
.overlay .pointer.top
{
	left: 50%;
	border-left: 10px solid transparent; /* Border-width sets angle of pointer */
    border-right: 10px solid transparent;
    _border-top-color: cyan; /* No 'transparent' borders in IE6 */
    _border-bottom-color: cyan;
    _filter:chroma(color="cyan"); /* filter out the cyan color */
}

.overlay .pointer.bottom
{
	bottom: -16px; /* Equal to length of the pointer (see .overlay .pointer border-width)  + 1 */
	border-bottom: 0;
}

.overlay .pointer.top
{
	border-top: 0;
	top: -16px; /* Equal to length of the pointer (see .overlay .pointer border-width)  + 1 */
}

.overlay .pointer.left,
.overlay .pointer.right
{
	top: 50%;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.overlay .pointer.left
{
	left: -16px; /* Equal to length of the pointer (see .overlay .pointer border-width) + 1 */
	border-left: 0;
}

.overlay .pointer.right
{
	right: -16px; /* Equal to length of the pointer (see .overlay .pointer border-width) + 1 */
	border-right: 0;
}