abbr,
acronym,
.caps
{
    font-variant: small-caps; /* This doesn't seem to be supported well. It is supported in FF 3.5 but it still seems to large. Will need to provide an alternative for browsers where it is not supported */
    text-transform: lowercase;
}

.amp {
    font-style: italic;
}

.cufon {
    vertical-align: super;
}

.fraction {
    font-size: 0.6em;
}

.fraction .numerator
{
    vertical-align: super;
}

.fraction .denominator
{
    vertical-align: sub;
}

.manuscript > p:first-child:first-letter {
    font-size: 3em;
    line-height: 0.87; /* Firefox seems to ignore this value */
    float: left;
    margin: 5px 2px 0 0;
    text-transform: uppercase;
}

.manuscript > p:first-child:first-line {
    text-transform: lowercase;
    font-variant: small-caps;
}