/*
Title: Vertical rhythm
Description: A framework that sets up the vertical rhythm of content. It is based on the work of Richard Rutter (http://24ways.org/2006/compose-to-a-vertical-rhythm) and Wilson Miner (http://www.alistapart.com/articles/settingtypeontheweb).
Version: 1.4
Author: James Nicholls
Author URI:

Notes:
IE 6 and below will not resize text in pixels or support the 'inherit' value.
*/

body {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 1.5em;
	/*/background: url(../img/gridbg.gif);/**/ /* For testing purposes only, remove before going live. */
}

div, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin-bottom: inherit; 
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
	margin-bottom: .79em;
}

h4 {
	margin-bottom: 0;
}

p {
	margin-bottom: 2em;
}

p + ol {
	margin-top: -1.5em;
}

/* Add further heading styles as required. */